.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.direction{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
    background-color: aliceblue;

}

.direction:hover{
    color: red;
    background-color: antiquewhite;
}

.MrsStockmann{
    color:blue;
}

.DrStockmann{
    color:brown;
}

.MortenKiil{
    color:blueviolet;
}
